@import '~picnic/src/picnic';

.content {
  padding-top: 3em;
  align-items: center;
  height: 100%;

  .files {
    overflow-y: scroll;
    height: 50%;

    .file {
      &:not(.loading) .processing {
        display: none;
      }

      &.loading .actions {
        display: none;
      }
    }
  }
}

// $height: 500px;
// $width: 350px;

// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .content {
//   background-color: lightgrey;
//   // position: relative;
//   // margin: auto;
//   height: $height;
//   // width: $width;
//   // padding: 5px;

//   // .main {
//   //   padding: 10px;
//   //   margin: auto;
//   // }

//   .bottom {
//     position: absolute;
//     bottom: 0;
//     margin: auto;
//     left: 0;
//     right: 0;

//     div {
//       margin: auto;
//     }
//   }
// }

// // .files {
// //   .file {
// //     display: none;
// //   }
// // }
